body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffca28;
}

/*POSTS*/
.test-div-fill {
	border: 1px solid #eee;
}

.mapDiv {
	margin-top: 10px;
	/*height: 100%;*/
	/*width: 100%;*/
}

.postsDiv {
	padding-bottom: 10px;
}

.post-card {
	background-color: #fff;
	border-radius: 2px;
	margin-top: 8px;
}

.post-style-meetup {
	border-left: 4px solid #1E88E5;
}

.post-style-ride-report {
	border-left: 4px solid #689F38;
}

.post-style-open-ticket {
	border: 2px solid #c62828;
	border-left: 4px solid #c62828;
}

.post-style-closed-ticket {
	border-left: 4px solid #aaa;
}

.addPostDiv {
	display: flex;
	justify-content: flex-start;
	padding: 10px;
	border-radius: 2px;
	background-color: white;
	border-left: 4px solid #ddd;
	margin: 10px 0 15px 0;
}

.closeTicketDiv {
	display: flex;
	justify-content: flex-end;
	padding-left: 10px;
	padding-bottom: 10px;
}

.weatherForecastDiv {
	margin-top: 10px;
	border-radius: 2px;
	padding: 0 10px;
	background-color: rgba(255,255,255,0.5);
}

.weatherForecastDay {
	width: 100%;
}

.weatherForecastDiv div:last-child {
	margin-bottom: 5px;
}

/*TRAILS*/
.trailWithTicketDiv {
	position: relative;
}

.ticketBadge {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #c62828;
	color: white;
	position: absolute;
	top: -10px;
	right: -10px;
	z-index: 10;
	text-align: center;
	font-size: 15px;
	font-family: 'Harmattan', sans-serif;
}



